<ion-view view-title="Buddy Profile">
  <ion-content>
    <a class="profile-image">
      <img ng-src="{{buddy.image}}" style="width: 164px; height: 164px">
    </a >
    <h1 id="buddy-title">{{buddy.firstName}}</h1>
    <p class="buddy-text">Bio: {{buddy.bio}}</p>
    <p class="buddy-text">Age: {{buddy.age}}</p>
    <p class="buddy-text">Current gym: {{buddy.gym}}</p>
    <p class="buddy-text">Training type: {{buddy.typeOfTraining}}</p>
    <a class=" button-block" href="#/app/buddylist">
      <i class="button button-block button-balanced button-outline icon ion-android-chat"></i>
    </a>
    <a class=" button-block" href="#/app/buddylist">
      <i class="button button-block button-positive button-outline icon ion-person"></i>
    </a>

  </ion-content>
</ion-view>
