<ion-view view-title="Chat with Chuka">

  <ion-content class="padding">

    <!-- profile section  -->
      <p class="item-avatar item-icon-right">
        <img ng-src="img/chuka.jpg" style="width: 84px; height: 84px;">
      </p>

    <!-- chat section  -->
    <ion-item ng-model="messages">
      <li ng-repeat="message in messages">
        <p>{{message.text}}</p>
      </li>
    </ion-item>
  </ion-content>

   <!-- this is for the footer search bar  -->
  <div class="bar bar-footer bar-stable" style="height:60px">
    <div class="item-input-inset" >
      <label class="item-input-wrapper">
        <input type="text" placeholder="Message" style="width:280px" ng-model="message">
      </label>
      <button class="button button-small" ng-click="sendMessage(message)">
        Send
      </button>
    </div>
  </div>
</ion-view>
