<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-outline button-clear" ng-click="findBuddyClose()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content id="buddy-modal">
    <form ng-submit="doFindBuddy()">
      <!-- <div class="list"> -->
        <div class="list list-inset">
          <div class="item">
            Body
          </div>
          <div class="item">
            Half body
          </div>
          <div class="item">
            Other Half body
          </div>
        </div>

        <label class="item">
          <button class="button button-full button-stable" ng-click="doFindBuddy()">GO</button>
        </label>
    </form>
  </ion-content>
</ion-modal-view>
