<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-outline button-clear" ng-click="findBuddyClose()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content id="buddy-modal">
    <form ng-submit="doFindBuddy()">
      <!-- <div class="list"> -->
      <ion-list>
        <ion-radio ng-model="choice" g-value="'A'">Full Body</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Legs</ion-radio>
        <ion-radio ng-model="choice" ng-value="'C'">Chest</ion-radio>
        <ion-radio ng-model="choice" ng-value="'D'">Cardio</ion-radio>
      </ion-list>

      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Select Gym
          </div>
          <select>
            <option selected>GymBox Soho (London)</option>
            <option>Some list</option>
            <option>of repeating gyms</option>
          </select>
        </label>
      </div>
      <img id="google-map" src="img/map2.png"></img>

      <label class="item">
      <button class="button button-full button-stable" ng-click="doFindBuddy()">GO</button>
    </form>
  </ion-content>
</ion-modal-view>
