<ion-view view-title="Home">
  <ion-content id="home-bg">
    <!-- <div class="card"> -->
      <a class="item profile-item" href="#/app/profile">
        <img id='profile-img' src="{{data.image}}">
        <h1>Hello {{data.userName || data.firstName}}!</h1>
        <div id="info">
          Status: <p id="online-status">online</p><br>
          Gym Adress:<br>
          <p>{{data.gym}}</p><br>
          Last Trained: <p>Legs</p><br>
          Last active: <p>21/6/14</p><br>
        </div>
        <button class="button right ghost-button" href="#/app/profile">Edit profile</button>
      </a>
    <!-- </div> -->

    <div class="row">
      <div class="col">
        <a class="login-button button-large button-block" ng-click="chats()">CHATS</a>
      </div>
      <div class="col">
        <a class="login-button button-large button-block" href="#/app/buddylist">BUDDIES</a>
      </div>
    </div>
    <div class="home-buttons-lower row">
      <div class="col">
        <a class="login-button button-large button-block" href="#/app/gyms">GYMS</a>
      </div>
      <div class="col">
          <a class="login-button button-large button-block" href="#/app/matches">MATCHES</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a ></a>
      </div>
    </div>
    <div class="row padding-top">
      <div class="col">
        <a class="ghost-button button-large button-block" ng-click="findBuddy()">FIND A BUDDY</a>
      </div>
    </div>


  </ion-content>
</ion-view>
