<ion-view view-title="match Profile">
  <ion-content>
    <a class="profile-image">
      <img ng-src="{{match.image}}" style="width: 164px; height: 164px">
    </a >
    <h1 id="match-title">{{match.firstName}}</h1>
    <p class="match-text">Bio: {{match.bio}}</p>
    <p class="match-text">Age: {{match.age}}</p>
    <p class="match-text">Current gym: {{match.gym}}</p>
    <p class="match-text">Training type: {{match.typeOfTraining}}</p>

    <div class="row">
      <!-- <a class=" button-full" href="#/app/matchlist"> -->

      <div class="col">
        <a class="button button-full button-balanced" href="#/app/chatlist/{{match.id}}">
          <i class="icon ion-android-chat" style=""></i>
        </a>
      </div>
    </div>
    <!-- <a class=" button-block" href="#/app/matchlist">
      <i class="button button-block button-positive button-outline icon ion-person"></i>
    </a> -->

    <div class="row">
      <div class="col">
        <a class="button button-full button-assertive">
          <i class="icon ion-close" style=""></i>
        </a>
      </div>
      <div class="col">
        <a class="button button-full button-balanced">
          <i class="icon ion-checkmark" style=""></i>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
