<ion-view title="Profile">
  <ion-content class="has-header padding">
    <div class="list list-inset" ng-hide="showme">
      <a class="item item-avatar" href="#">
        <img src="{{data.image}}">
      </a>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="username" value="{{data.username}}" ng-model="data.username">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="First name" value="{{data.firstName}}" ng-model="data.firstName">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">name</span>
        <input type="text" placeholder="Last name" value="{{data.lastName}}" ng-model="data.lastName">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Training preference</span>
        <input type="text" placeholder="Type of traning" value="{{data.TypeOfTrainig}}" ng-model="data.typeOfTraining">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Preferred Gym</span>
        <input type="text" placeholder="gym" value="{{data.gym}}" ng-model="data.gym">
      </label>

      <button class="button button-block" ng-click="gohome()">Done</button>
    </div>



  </ion-content>
</ion-view>
