<ion-view title="Profile">
  <ion-content class="has-header padding">
    <div class="list list-inset">
      <a class="item item-avatar" href="#">
        <img src="{{data.image}}">
      </a>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="username" value="{{data.userName}}" ng-model="data.userName">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="bob@potato.com" value="{{data.email}}" >
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Age</span>
        <input type="text" placeholder="9000" value="{{data.age}}" ng-model="data.age">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Training preference</span>
        <input type="text" placeholder="Type of traning" value="{{data.typeOfTraining}}" ng-model="data.typeOfTraining">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Preferred Gym</span>
        <ion-google-place placeholder="Enter an address, Apt# and ZIP" value="{{data.gym}}"ng-model="data.location" current-location="true" />
      </label>

      <button class="button button-block button-stable" ng-click="editProfile()">Done</button>
    </div>
  </ion-content>
</ion-view>
