<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Create New Account</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.userName">
      </label>
      <button class="button button-full button-positive" ng-click="createUser(user)">Create</button>
    </div>
  </ion-content>
</ion-modal-view>
