<ion-view view-title="Signin" hide-nav-bar="true">
  <ion-content class="padding" id="sign-in-bg" >
    <div class="list list-insert">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <div >
        <button class="button button-block button-calm" ng-click="signIn(user)">Log in</button>
        <button class="button button-block button-positive" style="background:#466CB0" ng-click="login()">
           <img src="img/facebook_icon.png" style="margin:auto;float:left;width:38px;height=39px;"/> Log in with Facebook
        </button>
        <button class="button button-block button-outline button-calm" ng-click="modal.show()">Sign up</button>
      </div>
  </ion-content>
</ion-view>
