<ion-view view-title="Signin">
  <ion-content class="padding">
    <div class="list list-insert">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <div ng-hide="showme">
        <button class="button button-block button-calm" ng-click="signIn(user)">Log in</button>
        <button class="button button-block button-calm" ng-click="login()">Log in with Facebook</button>
        <button class="button button-block button-calm" ng-click="modal.show()">Sign up</button>
      </div>
  </ion-content>
</ion-view>
