<ion-view title="Account">
  <ion-nav-buttons side="right">
      <button class="button" ng-click="signOut()">
        Log Out
      </button>
  </ion-nav-buttons>
  <ion-content class="has-header padding" ng-init="getData()">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="{{data.firstName}}">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="{{data.lastName}}">
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments"></textarea>
      </label>
    </div>
  <button class="button" ng-click="profileData.getData(data)">hello</button>
  </ion-content>
</ion-view>
