<ion-view view-title="Home">
  <ion-content>
    <div class="card">
      <a class="item item-thumbnail-left" href="#/tab/profile">
        <img src="img/default.jpg">
        <h2>Hello {{data.firstName}}!</h2>
        <p>Some more info brah</p>
      </a>
    </div>

      <div class="card">
        <div class="item item-text-wrap">
          Recent matches

          <!-- make these ng-repeat when we have functionality -->
        </div>
        <div class="card">
          <a class="item item-avatar item-icon-right" href="#/tab/buddy/{{buddy.id}}">
            <img src="">
            <h2>DAVE42</h2>
            <p>Hey, im pretty buff.</p>
            <i class="icon ion-chatbubble-working"></i>
          </a>
        </div>

        <div class="card">
          <a class="item item-avatar item-icon-right" href="#">
            <img src="">
            <h2>Agnus8000</h2>
            <p>DO U EVEN LIFT BRO?.</p>
            <i class="icon ion-chatbubble-working"></i>
          </a>
        </div>
      </div>

      <!-- change these icons -->
      <div class="row">
        <div class="col">
          <ion-radio ng-model="choice" ng-value="A">
            <a  class="item-icon-left">
              <i class="icon ion-wifi"></i>
            </a>
          </ion-radio>
        </div>

        <div class="col">
          <ion-radio ng-model="choice" ng-value="B">
            <a  class=" item-icon-left">
              <i class="icon ion-bluetooth"></i>
            </a>
          </ion-radio>
        </div>

        <div class="col">
          <ion-radio ng-model="choice" ng-value="C">
            <a  class=" item-icon-left">
              <i class="button-icon icon ion-bug"></i>
            </a>
          </ion-radio>
        </div>
      </div>
      <div class="row">
        <!-- <div class="card">
          <i class="button-icon icon ion-bug"></i>
        </div> -->
      </div>





  </ion-content>
</ion-view>
