
<div show-when-state="tab.home">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
      <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Find a Buddy" icon="ion-plus-circled" href="#/home">
      <ion-nav-view  name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</div>

 <!-- show when all other tabs, maybe edit plugin code? -->
<div show-when-state="tab.profile || tab.chats">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
      <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

    <ion-tab show-when-state="tab.home" title="Home" icon="ion-android-locate" href="#/home">
      <ion-nav-view  name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</div>
