
#chat-bg {
  background-color: #E0E0E0;
  /*background-color: #737373;*/
  /*background-repeat: no-repeat;
  background-size: cover;*/
}

.ghost-button {
  background-color: rgba(255, 255, 255, 0.2);

  /*rgba(255, 255, 255, 0.4)*/
  /*display: inline-block;*/
  /*width: auto;*/
  /*padding: 8px;*/
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 1.4s ease-out,
              color 0.2s ease-out;
}

.ghost-chat {
  /*float: right;*/
  
}

.chat-icon {
  /*word-wrap:break-word;*/
  float:right;

}

.chat-img {
  width: 34px;
  height: 34px;

}
.ghost-button:hover,
.ghost-button:active {
  background-color: rgba(250, 250, 250, 0.3);

  color: #00C76A;
  border-color: #00C76A;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}
.item-avatar,
.item-icon-right{
  background-color: rgba(255, 255, 255, 0.2);

}
