
#chat-bg {
  background-color: #E0E0E0;
  /*background-color: #737373;*/
  /*background-repeat: no-repeat;
  background-size: cover;*/
}
/*
.ghost-button {
  background-color: rgba(255, 255, 255, 0.2);*/

  /*rgba(255, 255, 255, 0.4)*/
  /*display: inline-block;*/
  /*width: auto;*/
  /*padding: 8px;*/
  /*color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 1.4s ease-out,
              color 0.2s ease-out;
}*/

.ghost-chat {
  /*float: right;*/

}

.chat-icon {
  /*word-wrap:break-word;*/
  float:right;

}

.chat-img {
  width: 34px;
  height: 34px;

}
