#sign-in-bg {
  background-image: url(gym_bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-items {
  height: 40px;
}

.gx {
  text-align: center !important;
}
#match-info {
  margin-left: 30px;
  margin-top: 40px;
  color: #3D3D3D;
}

#gym {
  height: 90px;
  float: right;
}

#match-info>p{
  font-weight: bold;

}

#match-percent-profile {
  display: inline-flex;
  text-align: justify;
  margin-left: 10px;
  color: #1AFF00;
}

#match-title {
  color: #3D3D3D;
  display: inline-flex;
}

#match-percent {
  /*text-align:right;*/
  margin-top: 10px;
  float: right;
  color: green;
}

#google-map {
  width: 350px !important;
  margin-left: 10px;
}

#online-status {
  color: #00FF51;
}

.home-buttons-lower {
  position: relative;
  bottom: 20px;
}

.profile-item {
  background-color: rgba(190, 190, 190, 0.6);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border:none;
}
.profile-item>img {
  margin-left: 10px;
  margin-top: 17px;
}

.profile-item>h1 {
  margin-left: 10px;
  margin-top: 30px;
  color: #F2F2F2;
}
.profile-item>div>p {
  padding: 0px 0px 0px 2px;
  display:inline-flex;
  /*text-align: left;*/
  color: #F2F2F2;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
}

#matches-title {
  margin-top: 10px;
  color: #3D3D3D;
  text-align: center;
}

.profile-item>button {
  position: absolute;
  top: 10px;
  margin-left:240px;
  color: #E3E3E3;
  background-color: rgba(190, 190, 190, 0.6);
  padding: 10 0 10 0;
  font-size: 16px;
  font-weight: normal;
  border: none;
}
.profile-item>div {
  float:left;
  position: absolute;
  top: 70px;
  margin-left:160px;
  width: 180px;
  text-align: right;
  height: 80px;
  color: #E3E3E3;
  font-weight: bolder;
  background-color: rgba(190, 190, 190, 0.4);
  padding: 10 0 10 0;
  font-size: 18px;
  border: none;
  text-align: left;
}

.item {
  outline: none;
  /*background-color: #fff; */
  /*border-color: #fff;*/
  /*border-color: rgba(255, 255, 255, 0.4);*/
  /*background: none; */
}
.item:hover,
.item:active {
  /*color: #66d8ed;*/
  /*border-color: #66d8ed;*/
  /*transition: border-color 0.1s ease-in,
              color 0.1s ease-in;*/
}

#home-bg {
  background-image: url(home_bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
#gym-title {
  /*background: white;*/
  opacity: 0.2;
  color: grey;
  width: 100%;
  /*height: 50px;*/
  font-size: 3.6em;
  font-family:sans-serif;
}
.button-large,
.button-block {
  background-color: rgba(255, 255, 255, 0.9);

}

.ghost-button {
  background-color: rgba(255, 250, 255, 0.3);

  /*rgba(255, 255, 255, 0.4)*/
  /*display: inline-block;*/
  width: auto;
  padding: 5px;
  color: white;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-weight: bolder;
  transition: border-color 1.4s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: rgba(250, 250, 250, 0.3);

  color: #00C76A;
  border-color: #00C76A;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}



#profile-img {
  background-size:contain;
  width: 120px;
  height: 120px;
  border-radius: 70%;
}

.button {
  border-radius: 0;
  opacity: 0.9;
}

.item-input {
  opacity: 0.5;
}

#fb_img {
  /*background-image: url(fb_logo2.png) no-repeat 5px center;*/
  width: 36px;
  height: 36px;
  vertical-align: middle;
  /*padding: 1px 1px 1px 1px;*/
  margin:auto;
}

#bg_test{
  background:#4DCCFF;
  opacity: 0.6;
}

#buddy-modal {
  opacity: 0.9;
  /*background-image: url(home_bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;*/
}

.profile-image>img {
  position: relative;
  top: 30px;
  left: 28%;
  border-radius: 70%;
  margin: auto;
}

#login-section {
  position:relative;;
  margin-left: auto;
  margin-right: auto;
  top: 280px;
  width: 340px;
}



.login-button {
  background-color: rgba(255, 250, 255, 0.3);

  /*rgba(255, 255, 255, 0.4)*/
  /*display: inline-block;*/
  /*width: auto;*/
  height: 40px;
  margin: 10px 0px 10px 0px;
  padding: 5px;
  color: white;
  text-align: center;
  outline: none;
  border:none;
  text-decoration: none;
  font-weight: bolder;
  transition: border-color 1.4s ease-out,
              color 0.2s ease-out;
              background-color 1s ease-out;
}
.login-button:hover,
.login-button:active {
  background-color: rgba(250, 250, 250, 0.4);

  color: white;
  border: 1px solid rgba(255, 250, 255, 0.3);
  transition: border-color 2s ease-in,
              color .3s ease-in,
              background-color .5s ease-in;
}
.facebook-button {
  background-color: rgba(59, 89, 182, 0.3);
  height: 40px;
  color: white;
  border: none;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-weight: bolder;
  transition: border-color 3s ease-out,
              color 0.2s ease-out;
}
.facebook-button:hover,
.facebook-button:active {
  background-color: rgba(59, 89, 182, 0.8);

  /*color: #00C76A;*/
  border: none;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}


#buddy-title {
  padding-top: 10px;
  text-align: center;
}

.buddy-text {
  font-size: 17px;
  font-weight: ;
  font-family: helvetica;
}

/*.popup-head{
  height: 120px !important;
  background: red  !important;
}
.popup-title {
  color: #fff !important;
}

.popup-body{
  background: blue !important;
  color:#fff !important;
  font-size:24px !important;
}

.popup-buttons {
  height: 120px !important;
}*/
