
#sign-in-bg {
  background-image: url(gym_bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.item-avatar,
.item-icon-right {
  /*background-color: rgba(255, 255, 255, 0.4);*/
}
.card {
  background-color: transparent;
  border: 1px solid white
}

.modal {
  top: 40px !important;
  bottom: 0px !important;
  /*left: 14% !important;*/

  /*vertical-align: middle !important;*/
  margin: auto;
  right: 0 !important;
  width: 80% !important;
  height: 60% !important;
}

.profile-item {
  background-color: rgba(190, 190, 190, 0.6);
}

.profile-item>h1 {
  color: grey;
}
.profile-item>p {
  color: white;
  font-size: 16px;
}
.profile-item>button {
  color: white;
  font-size: 16px;
}

.item {
  outline: none;
  /*background-color: #fff; */
  /*border-color: #fff;*/
  /*border-color: rgba(255, 255, 255, 0.4);*/
  /*background: none; */
}
.item:hover,
.item:active {
  color: #66d8ed;
  border-color: #66d8ed;
  /*transition: border-color 0.1s ease-in,
              color 0.1s ease-in;*/
}

#home-bg {
  background-image: url(home_bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
#gym-title {
  /*background: white;*/
  opacity: 0.2;
  color: grey;
  width: 100%;
  /*height: 50px;*/
  font-size: 3.6em;
  font-family:sans-serif;
}
.button-large,
.button-block {
  background-color: rgba(255, 255, 255, 0.9);

}

.ghost-button {
  background-color: rgba(255, 250, 255, 0.3);

  /*rgba(255, 255, 255, 0.4)*/
  /*display: inline-block;*/
  width: auto;
  padding: 5px;
  color: white;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-weight: bolder;
  font-
  transition: border-color 1.4s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: rgba(250, 250, 250, 0.3);

  color: #00C76A;
  border-color: #00C76A;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

#login-section {
  top:170px;
}

#profile-img {
  background-size:contain;
  width: 120px;
  height: 120px;
  border-radius: 70%;

}

.button {
  border-radius: 0;
  opacity: 0.9;
}

.item-input {
  opacity: 0.5;
}

#fb_img {
  /*background-image: url(fb_logo2.png) no-repeat 5px center;*/
  width: 36px;
  height: 36px;
  vertical-align: middle;
  /*padding: 1px 1px 1px 1px;*/
  margin:auto;
}

#bg_test{
  background:#4DCCFF;
  opacity: 0.6;
}

#buddy-modal {
  opacity: 0.9;
  /*background-image: url(home_bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;*/
}

.profile-image>img {
  position: relative;
  top: 30px;
  left: 28%;
  border-radius: 70%;
  margin: auto;
}

#buddy-title {
  padding-top: 10px;
  text-align: center;
}

.buddy-text {
  font-size: 17px;
  font-weight: ;
  font-family: helvetica;
}

/*.popup-head{
  height: 120px !important;
  background: red  !important;
}
.popup-title {
  color: #fff !important;
}

.popup-body{
  background: blue !important;
  color:#fff !important;
  font-size:24px !important;
}

.popup-buttons {
  height: 120px !important;
}*/
